<h2 mat-dialog-title>{{ isEditMode ? 'Editar Estudiante' : 'Nuevo Estudiante' }}</h2>

<mat-dialog-content class="estudiante-form" [formGroup]="form">
  <div class="form-grid">
    <mat-form-field appearance="fill" class="full-width grid-item">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width grid-item">
      <mat-label>Legajo</mat-label>
      <input matInput formControlName="legajo">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width grid-item">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width grid-item">
      <mat-label>Carrera</mat-label>
      <mat-select formControlName="carrera_id">
        @for (carrera of carreras; track carrera.id) {
          <mat-option [value]="carrera.id">
            {{ carrera.nombre }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width grid-item">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <div class="grid-spacer"></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
